@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

html {
    font-size: 62.5%;

}

:root {
    --purple: #701e7d;
    --white: #ffffff;
    --black: #000000;
    --grey: RGB(230, 230, 230);
    --yellow: #ffd400;
    --grey1: RGB(93, 93, 93);
}
.bg-purple {
    background-color: var(--purple);
}
.bg-white {
    background-color: var(--white);
}
.bg-grey {
    background-color: var(--grey);
}
.bg-yellow {
    background-color: var(--yellow);
}
.bg-white {
    background-color: var(--white);

}
.bg-black {
    background-color: var(--black);
}
.text-purple {
    color: var(--purple);
}
.text-white {
    color: var(--white);
}
.text-grey {
    color: var(--grey1);
}
.text-black {
    color: var(--black);
}
.text-yellow {
    color: var(--yellow);
}

.Internet{
    font-weight: bold;
    
}
.Internet:hover {
    background-color: var(--yellow);
    color: var(--purple);
    border: 1px solid var(--yellow);
}
.nav-pic{
    padding-right: 30px;
}
.nav-item {
    padding-left:  20px;
    padding-right: 20px;
}
.nav-item:hover {
    background-color: var(--yellow);
    color: var(--purple);
}
#fa-magnifying-glass {
    display: none;
}
#fa-magnifying-glass1 {
    display: none;
}
.logo {
    padding-left: 20px;
    
}
.head {
    position: relative;
    top: 0;
}
#menu {
    display: none;
}
/* .fa-lock {
    position: relative;
} */


.border-purple {
    border: 1px solid var(--purple);
}


.asia {
    padding: 30px 200px;
}

.main-last {
    margin-bottom: 30px;
}

@media(max-width:425px){
    #locate {
        padding: 15px !important;

}
    #secp {
        width: 150px;
    }
}


@media(max-width:400px)
{
    .open-pic {

        width: 150px !important;
        height: 100px !important;
    }
}

@media(max-width: 654px){
.asia {
    padding: 0 !important;
}

}
@media(max-width:1200px){

    .open-pic {
        width: 330px;
        height: 250px;

    }
}
@media(max-width:768px){
    .nav-item {
        display: none;
    }
    #fa-magnifying-glass {
        border: none !important;
        padding: 0px !important;
        display: none !important;
    }
    #fa-magnifying-glass1 {
        display: block;
        border: none !important;
        padding: 0px !important;
    }

    #menu {
        display: flex;
        
    }
    #head2 {
        align-items: start !important;
        justify-content: space-between !important;
    }
    
    #logo {
        display: flex;
        justify-content: space-between;
        align-items: center !important;
        padding: 20px;
    }
}
@media (max-width:350px){
    #logo {
        padding: 10px !important;
    }
}

@media (max-width: 1024px){
    .head {
        display: none;
}}
@media (max-width:1150px){
    .Internet, #form-control, #form-control1{
       display: none;
    }
    #fa-magnifying-glass {
        display: flex;
        padding-left: 30px;

    }

}