.font-size-52 {
    font-size: 5.2rem;
}
.font-38 {
    font-size: 3.8rem;
}
.font-size-48 {
    font-size: 4.8rem;
}
.font-size-26 {
    font-size: 2.6rem;
}
.font-14 {
    font-size: 1.4rem;
}
.font-16 {
    font-size: 1.6rem;
}
.font-18 {
    font-size: 1.8rem;
}
.font-24 {
    font-size: 1.4rem;
}
.font-40 {
    font-size: 4rem;
}
.font-21 {
    font-size: 2.1rem;
}
.font-15 {
    font-size: 1.5rem;
}
.font-10 {
    font-size: 1rem;
}
.font-11{
    font-size: 1.1rem;
}
.font-24 {
    font-size: 2.4rem;
}
.font-17 {
    font-size: 1.7rem;
}
.font-30 {
    font-size: 3rem;
}
.font-32 {
    font-size: 3.2rem;
}
.font-12 {
    font-size: 1.2rem;
}
.weight-4 {
    font-weight: 400;
}